.brand-font {
  font-family: 'Righteous', cursive;

}
#or{
  font-family: 'Righteous', cursive;

}
.btn{
  margin: 10px;
  margin-left: 0px;
}
.rainbow{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #26f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.index-bottom {
  background-color: #333333
}
.text-color-foot{

  color:white;
  -webkit-background-clip: text;
  background-clip: text;
}
#palette-dropzone{
  width: 300px;
  height: 300px;
  margin: 10px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #444444;
  border-radius: 15%;
  align-self: center;
}
.palette-container {
  width: 300px;
  height: 300px;
  margin: 10px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #444444;
  border-color: #ffffff;
  border-width: thick;
  border-radius: 15%;
  align-self: center;
}
